// Las miguitas de pan
.breadcrums
	color gris_suave
	font-family fuente_heading_bold
	font-size 90%
	font-weight bolder
	text-align left

	&__list
		border-bottom 1px dashed verde_azulado
		border-top 1px dashed verde_azulado
		padding 9px $em
		margin 0

		&__item
			display inline-block
			padding 0

			a
				display inline-block
				opacity 0.5
				&:hover
				&:focus
					opacity 1

			&:after
				content "»"
				display inline-block
				margin 0 0.5em
				
		// Eliminando los extremos
		.first-child
		.last-child
			margin-right 1em

			&:after
				display none

@media all and (min-width: 900px)
	.breadcrums
		padding-right $em

// Para eliminar el espacio hacia la izquierda
@media all and (min-width: 1230px)
	.breadcrums
		&__list
			padding-left 1px