// LLamando a Nib
@import "nib"
@import 'nib/normalize'
@import 'nib/overflow'

// Fuentes e íconos
@import '20._fuentes'
@import '21._iconos'

// Generales y utilidades
@import "01._variables"
@import "02._paleta_de_colores"
@import "03._funciones"

// Estructura de la web
@import "30._main"
@import "31._header"
@import "32._nav"
@import "50._slider"
@import "33._section"
@import "34._article"
@import "35._sidebar"
@import "36._footer"

// Etiquetas reutilizables
@import "40._figure"
@import "41._table"
@import "42._form"
@import "43._bloques"
@import "44._text"
@import "45._buttons"
// @import "19._"

// Bloques reutilizables
@import "51._breadcrums"
@import "52._navegation"
@import "53._fancybox"

// Comentarios
@import "60._comentarios"

// Para impresora
@media print
	@import "100._print"